# remove docx files
./*.docx
./*/*.docx

# remove .zip files
./*.zip
./*/*.zip

# remove all .DS_Store files
./.DS_Store
./*/.DS_Store
/week5/AddFiveInts/build/
/week6/U6D1_EchoUsingMethod/nbproject/private/
/week6/U6D1_EchoUsingMethod/build/
/week6/DirectorySync/nbproject/private/
/week7/EchoFiveIntsWArrays/nbproject/private/
/week7/u7a3_CountOccurrencesinSevenIntegers/nbproject/private/
/week7/U7A1_NumOfOccurrInSevenInt/nbproject/private/
/week7/EchoFiveIntsWArrays/build/
